/* ======================= */
/* SECTION: Layout Spacing */

/* =============== */
/* SECTION: Global */
	.forminator-ui.forminator-quiz#forminator-module-429 {
		width: 100%;
					max-width: 600px;
															background-color: transparent;
										border-color: #000000;
						}

/* =============== */
/* SECTION: Header */
/* ELEMENT: Quiz Title */
	.forminator-ui.forminator-quiz#forminator-module-429 .forminator-quiz--title {
									color: #ffffff;
														font-size: 44px;
															font-family: Raleway;
														font-weight: 500;						}
/* ELEMENT: Quiz Description */
	.forminator-ui.forminator-quiz#forminator-module-429 .forminator-quiz--description,
	.forminator-ui.forminator-quiz#forminator-module-429 .forminator-quiz--description p {
									color: #ffffff;
														font-size: 20px;
															font-family: Raleway;
														font-weight: 400;						}

/* ================ */
/* SECTION: Content */
/* ELEMENT: Quiz Question (Border color) */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-question:after {
	background-color: rgba(0,0,0,0.12);
}
/* ELEMENT: Quiz Question (Legend) */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-question .forminator-legend {
						color: #333333;
									font-size: 24px;
											font-family: Raleway;
										font-weight: 500;			}
/* Page indicator */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-page-indicator {
	display: flex;
    justify-content: flex-end;
			color: #888888;
				font-size: 13px;
					font-family: Roboto;
				font-weight: 400;
	}/* Navigation Button */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-button.forminator-quiz-start,
#forminator-quiz-leads-429.forminator-ui button.forminator-button.forminator-quiz-start {
						background-color: #17A8E3;
							color: #FFFFFF;
									font-size: 14px;
									font-weight: 500;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-button.forminator-quiz-start:hover,
#forminator-quiz-leads-429.forminator-ui button.forminator-button.forminator-quiz-start:hover {
						background-color: #008FCA;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-button.forminator-quiz-start:focus,
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-button.forminator-quiz-start:active,
#forminator-quiz-leads-429.forminator-ui button.forminator-button.forminator-quiz-start:focus,
#forminator-quiz-leads-429.forminator-ui button.forminator-button.forminator-quiz-start:active {
						background-color: #008FCA;
							color: #FFFFFF;
			}
/* ELEMENT: Quiz Question Description */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-question--description,
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-question--description p {
						color: #8C8C8C;
									font-size: 20px;
									font-weight: 400;
			}/* ELEMENT: Quiz Question (Result) */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-question--result {
						color: #4D4D4D;
									font-size: 20px;
											font-family: "Raleway";
										font-weight: 500;font-style: italic;			}
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-button.forminator-result--retake {
						background-color: #17A8E3;
							color: #FFFFFF;
									font-size: 14px;
									font-weight: 400;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-button.forminator-result--retake:hover {
						background-color: #17A8E3;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-button.forminator-result--retake:focus,
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-button.forminator-result--retake:active {
						background-color: #17A8E3;
							color: #FFFFFF;
			}/* ELEMENT: Quiz Answers (Text) */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer .forminator-answer--name {
						color: #888888;
									font-size: 24px;
											font-family: "Raleway";
										font-weight: 500;			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer input:checked + .forminator-answer--design .forminator-answer--name {
						color: #333333;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer.forminator-is_correct input:checked + .forminator-answer--design .forminator-answer--name {
						color: rgba(0,22,84,0.7);
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer.forminator-is_incorrect input:checked + .forminator-answer--design .forminator-answer--name {
						color: #f227a8;
			}
	/* ELEMENT: Quiz Answers (Container) */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer .forminator-answer--design {
						border-color: #EBEDEB;
							background-color: #FAFAFA;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer .forminator-answer--design:hover,
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer .forminator-answer--design:focus {
						border-color: #f227a8;
							background-color: #F3FBFE;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer input:checked + .forminator-answer--design {
						border-color: #f227a8;
							background-color: #f3fbfe;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer.forminator-is_correct input:checked + .forminator-answer--design {
						border-color: rgba(0,22,84,0.7);
							background-color: #f3fbfe;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer.forminator-is_incorrect input:checked + .forminator-answer--design {
						border-color: #f227a8;
							background-color: #f3fbfe;
			}
	/* ELEMENT: Quiz Answers (Checkbox) */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer .forminator-answer--status {
						border-color: #BFBFBF;
							background-color: #FFFFFF;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer input:checked + .forminator-answer--design .forminator-answer--status {
						border-color: rgba(0,22,84,0.7);
							background-color: #f3fbfe;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer.forminator-is_correct input:checked + .forminator-answer--design .forminator-answer--status {
						border-color: rgba(0,22,84,0.7);
							background-color: rgba(0,22,84,0.7);
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-answer.forminator-is_incorrect input:checked + .forminator-answer--design .forminator-answer--status {
						border-color: #f227a8;
							background-color: #f227a8;
							color: #FFFFFF;
			}

/* =============== */
/* SECTION: Footer */
/* Quiz Result Container */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-quiz--result {
	border-top-color: rgba(0,0,0,0.12);
}
/* Submit Button */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-button {
						background-color: #f227a8;
							color: #FFFFFF;
									font-size: 14px;
											font-family: Raleway;
										font-weight: 500;			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-button:hover {
						background-color: #f227a8;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-button:focus,
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-button:active {
						background-color: #f227a8;
							color: #FFFFFF;
			}
/* Navigation Button */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-pagination-footer .forminator-button:not(.forminator-button-submit) {
						background-color: #1ABCA1;
							color: #FFFFFF;
									font-size: 14px;
									font-weight: 500;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-pagination-footer .forminator-button:hover:not(.forminator-button-submit) {
						background-color: #159C85;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-pagination-footer .forminator-button:focus:not(.forminator-button-submit),
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-pagination-footer .forminator-button:active:not(.forminator-button-submit) {
						background-color: #159C85;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-pagination-footer .forminator-button.forminator-disabled {
						background-color: #E6E6E6;
							color: #888888;
			}
/* Back to questions Button */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-result--view-answers {
						background-color: #1ABCA1;
							color: #FFFFFF;
									font-size: 14px;
									font-weight: 400;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-result--view-answers:hover {
						background-color: #159C85;
							color: #FFFFFF;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-result--view-answers:focus,
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-result--view-answers:active {
						background-color: #159C85;
							color: #FFFFFF;
			}
/* Summary */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-quiz--summary,
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-quiz--summary p {
						color: rgba(0,22,84,0.7);
									font-size: 40px;
											font-family: Raleway;
										font-weight: 600;			}
/* Social Sharing */
.forminator-ui.forminator-quiz#forminator-module-429 .forminator-quiz--result .forminator-quiz--social {
	border-top-color: rgba(0,0,0,0.12);
}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-quiz--result .forminator-quiz--social .forminator-social--text {
						color: #4D4D4D;
									font-size: 20px;
											font-family: Roboto;
										font-weight: 400;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-quiz--result .forminator-quiz--social .forminator-social--icon {
						font-size: 36px;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-quiz--result .forminator-quiz--social .forminator-social--icon .forminator-icon-social-facebook {
						color: #0084BF !important;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-quiz--result .forminator-quiz--social .forminator-social--icon .forminator-icon-social-twitter {
						color: #1DA1F2 !important;
			}

.forminator-ui.forminator-quiz#forminator-module-429 .forminator-quiz--result .forminator-quiz--social .forminator-social--icon .forminator-icon-social-linkedin {
						color: #0084BF !important;
			}
/* ============= */
/* Custom Styles */